[submodule "themes/gruvbox-dark-gtk"]
	path = themes/gruvbox-dark-gtk
	url = https://git.sr.ht/~delightedcat/gruvbox-dark-gtk
[submodule "icons/gruvbox-dark-icons-gtk"]
	path = icons/gruvbox-dark-icons-gtk
	url = https://git.sr.ht/~delightedcat/gruvbox-dark-icons-gtk
