[submodule "themes/gruvbox-dark-gtk"]
	path = themes/gruvbox-dark-gtk
	url = https://github.com/jmattheis/gruvbox-dark-gtk.git
[submodule "icons/gruvbox-dark-icons-gtk"]
	path = icons/gruvbox-dark-icons-gtk
	url = https://github.com/jmattheis/gruvbox-dark-icons-gtk.git
